<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tienda chida :)</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <!-- agregar aqui listas de los productos -->
    <h3>Productos disponibles</h3>
    <div th:if="${ not#lists.isEmpty(products)}">
        <table>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <form action="/store/add" method="post">
                        <input type="hidden" name="name" th:value="${product.name}"/>
                        <input type="hidden" name="price" th:value="${product.price}"/>
                        <button type="submit">Agregar</button>
                    </form>
                </td>
            </tr>
            <table>
    </div>
</body>
</html>